@using ZeroWaste.Data.ViewModels.ShoppingList;
@model ShoppingListIngredientsVm;

@{
    ViewData["Title"] = "Lista składników";
}
<div class="row">
    <div class="col-md-4 offset-2">
        <h3>Produkty do dodania</h3>
    </div>
    <div class="col-md-4">
        <form asp-controller="ShoppingListIngredients" asp-action="NewIngredientForShoppingList">
            <div class="row">
                <div class="col-md-10">
                    <input name="searchString" type="text" class="form-control" placeholder="Szukaj składnika..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input name="id" type="number" class="form-control" style="visibility: hidden" value="@Model.ShoppingListId">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<br/>
<div class="col-md-8 offset-md-2">
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Jednostka</th>
            <th>Typ</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.IngredientsToAddVm)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure.Shortcut)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.IngredientType.Name)
                </td>
                <td class="align-middle">
                    @if (!(item.IsAdded))
                    {
                        <a class="btn btn-add" asp-action="AddIngredientToShoppingList" asp-route-id="@item.Id" asp-route-shoppingListId="@Model.ShoppingListId">Dodaj</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_ShoppingListIngredientsConfirmButton", @Model);
