@model DetailsRecipeVM
@using ZeroWaste.Data;
@using ZeroWaste.Data.ViewModels.ExistingRecipe
@using ZeroWaste.Models

@{
    ViewData["Title"] = "Podgląd przepisu";
}

<div class="col-md-10 offset-md-1">
    <p>
        <h3>Podgląd przepisu</h3>
    </p>
    @if (ViewData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>@ViewData["Error"]</span>
        </div>
    }
    @if (ViewData["Success"] != null)
    {
        <div class="col-md-12 alert alert-success">
            <span>@ViewData["Success"]</span>
        </div>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <form class="row" asp-action="UpdateRecipeStatus" asp-controller="Recipes">
            @Html.HiddenFor(m=>m.Id, @ViewData["recipeId"])
            <div class="col-md-4">
                <p class="text-end">Obecny status: @ViewData["statusName"]</p>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(s => s.StatusId,ViewBag.Statuses as SelectList, new { @class = "form-select" })
            </div>
            <div class="col-md-4">
                <input type="submit" value="Zmień status" class="btn btn-default btn-pale-pink float-left" />
            </div>
        </form>
    }
    <div class="row">
        @Html.HiddenFor(m=>m.NewReviewRecipeId, @ViewData["recipeId"])

        <div class="col-md-6">
            <div class="form-group mt-1rem">
                <i class="bi bi-award form-icon"></i><label asp-for="Title" class="control-label form-label"></label>
                <p class="text-start ml-2rem">@Model.Title</p>
            </div>

            <div class="form-group mt-1rem">
                <i class="bi bi-clock-history form-icon"></i><label asp-for="EstimatedTime" class="control-label form-label"></label>
                <p class="text-start ml-2rem">@Model.EstimatedTime</p>
            </div>
            <div class="form-group mt-1rem">
                <i class="bi bi-star form-icon"></i><label asp-for="DifficultyLevel" class="control-label form-label"></label>
                <p class="text-start ml-2rem">
                    @for (int j = 0; j < Model.DifficultyLevel; j++)
                    {
                        <i class="bi bi-star-fill"></i>
                    }
                    @for (int j = 0; j < 5 - Model.DifficultyLevel; j++)
                    {
                        <i class="bi bi-star"></i>
                    }
                </p>
            </div>
            <div class="form-group mt-1rem">
                <i class="bi bi-ui-radios form-icon"></i><label asp-for="CategoryId" class="control-label form-label"></label>
                <p class="text-start ml-2rem">@Model.Category.Name</p>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mt-1rem">
                <i class="bi bi-chat-square-text form-icon"></i><label asp-for="Description" class="control-label form-label"></label>
                <div class="border border-description">
                    <p class="text-start">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-1rem">
                <i class="bi bi-camera form-icon"></i><label class="control-label form-label" asp-for="Photos"></label>

                <div class="col-md-8 offset-1">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            @for (int i = 0; i < Model.Photos.Count(); i++)
                            {
                                int next = i + 1;
                                @if (i == 0)
                                {
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                }
                                else
                                {
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@i" aria-label="Slide @next"></button>
                                }
                            }
                        </div>
                        <div class="carousel-inner" id="photo-carousel">
                            @if (Model.Photos.Count > 0)
                            {
                                var firstItem = Model.Photos.First();
                                if (firstItem != null)
                                {
                                    var firstBase64 = Convert.ToBase64String(firstItem.BinaryPhoto);
                                    var firstImgSrc = String.Format("data:image/jpeg;base64,{0}", firstBase64);
                                    <div class="carousel-item active">
                                        <img src="@firstImgSrc" class="d-block w-100 carousel-image-standard" alt="...">
                                    </div>
                                }
                                @foreach (var item in Model.Photos.Skip(1))
                                {
                                    var base64 = Convert.ToBase64String(item.BinaryPhoto);
                                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                    <div class="carousel-item">
                                        <img src="@imgSrc" class="d-block w-100 carousel-image-standard" alt="...">
                                    </div>
                                }
                            }

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-1rem">
            @if (Model.RecipesIngredients.Count > 0)
            {
                <i class="bi bi-card-list form-icon"></i>

                <label asp-for="RecipesIngredients" class="control-label form-label"></label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Jednostka miary</th>
                            <th>Ilość</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RecipesIngredients)
                        {
                            <tr>
                                <td>
                                    @item.Ingredient.Name
                                </td>
                                <td>
                                    @item.Ingredient.UnitOfMeasure.Name
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="row mt-1rem">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="bi bi-star-half form-icon"></i>Opinie użytkowników
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            @for (int i = 0; i < Model.RecipeReviews.Count(); i++)
                            {
                                var firstImgSrc = @Url.Content(Model.PhotoAlt);
                                if (Model.RecipeReviews[i].Photos.Count > 0)
                                {
                                    var firstItem = Model.RecipeReviews[i].Photos.First();
                                    if (firstItem != null && firstItem.BinaryPhoto.Length > 0)
                                    {
                                        var firstBase64 = Convert.ToBase64String(firstItem.BinaryPhoto);
                                        firstImgSrc = String.Format("data:image/jpeg;base64,{0}", firstBase64);
                                    }
                                }
                                <div class="card card-margin" style="width: 18rem;">
                                    <img src="@firstImgSrc" class="card-img-top card-photo" alt="@Url.Content(Model.PhotoAlt)">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-person-circle form-icon"></i>@Model.RecipeReviews[i].ApplicationUser.FullName</h5>
                                        @for (int j = 0; j < @Model.RecipeReviews[i].Stars; j++)
                                        {
                                            <i class="bi bi-star-fill"></i>
                                        }
                                        @for (int j = 0; j < 5 - @Model.RecipeReviews[i].Stars; j++)
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                        <hr />
                                        <p class="card-text">@Model.RecipeReviews[i].Description</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="bi bi-stars form-icon"></i>Dodaj swoją opinię!
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form class="row" asp-action="Create" asp-controller="Reviews" enctype="multipart/form-data" method="post">
                            @Html.HiddenFor(m=>m.NewReviewRecipeId, @ViewData["recipeId"])
                            <div class="col-md-12">
                                <i class="bi bi-star form-icon"></i><label asp-for="NewReviewStars" class="control-label form-label"></label>
                                <select asp-for="NewReviewStars" class="form-select" aria-label="Jak bardzo podobał Ci się przepis">
                                    <option value="1">Nie podoba się dla mnie</option>
                                    <option value="2">Mało smaczny</option>
                                    <option value="3" selected>W porządku</option>
                                    <option value="4">Bardzo dobre</option>
                                    <option value="5">Rewelacja</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <i class="bi bi-camera form-icon"></i><label class="control-label form-label">Wybierz zdjęcie</label>
                                <input type="file" class="form-control" id="filesUpload" name="filesUpload" />
                            </div>
                            <div class="col-md-12">
                                <i class="bi bi-chat-square-text form-icon"></i><label asp-for="NewReviewDescription" class="control-label form-label"></label>
                                <textarea class="form-control" asp-for="NewReviewDescription" rows="2"></textarea>
                                <span asp-validation-for="NewReviewDescription" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mt-1rem">
                                <input type="submit" value="Dodaj" class="btn btn-default btn-pale-pink fr" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1rem">
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Home" class="btn btn-default btn-pale-pink float-left">Powrót</a>
            <a asp-action="AddLiked" asp-controller="Recipes" asp-route-recipeId="@Model.Id" class="btn btn-default btn-pale-pink fr">Lubię</a>
        </div>
        <div class="col-md-4 text-center">
            @if (ViewBag.Author == true)
            {
                <a asp-action="Edit" asp-controller="Recipes" asp-route-id="@Model.Id" class="btn btn-default btn-pale-pink">Edytuj</a>
            }
        </div>
        <div class="col-md-4">
            <a asp-action="AddNotLiked" asp-controller="Recipes" asp-route-id="@Model.Id" class="btn btn-default btn-pale-pink float-left">Nie lubię</a>
            <a asp-action="CreateFromRecipe" asp-controller="AutomatedShoppingList" asp-route-id="@Model.Id" class="btn btn-default btn-pale-pink fr">Składniki do listy zakupów</a>
        </div>
    </div>
</div>
