@using ZeroWaste.Models
@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Lista produktów";
}

<div class="row">
    <div class="col-md-8 offset-md-1">
        <p>
            <h3>Składniki</h3>
        </p>
    </div>
    <div class="col-md-4 offset-md-7">
        <form asp-controller="Ingredients" asp-action="Index">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Szukaj składnika" name="searchString" aria-label="Search" aria-describedby="search-addon" />
                <button class="btn btn-default" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="col-md-8 offset-md-2 mt-2rem">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.UnitOfMeasure.Shortcut)</th>
                    <th>@Html.DisplayNameFor(model => model.IngredientType.Name)</th>
                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <th>Actions</th>
                    }*@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitOfMeasure.Shortcut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IngredientType.Name)
                        </td>
                        @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <td class="align-middle">
                    <a class="btn btn-default" type="button" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-default" type="button" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="bi bi-trash"></i>
                    </a>
                    </td>
                    }*@
                        <td class="align-middle">
                            <a class="btn btn-default" type="button" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Podgląd">
                                <i class="bi bi-search"></i>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-default" type="button" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Edytuj">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-default" type="button" asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Usuń">
                                    <i class="bi bi-trash"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("_CreateItem", "Ingredients")
}

@section Scripts
    {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}