@using ZeroWaste.Models
@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Lista składników";
}

<div class="row">

    <div class="col-md-4 offset-md-8">
        <form asp-controller="Ingredients" asp-action="Index">
            <p>
                <input name="searchString" type="text" class="form-control" placeholder="Szukaj składnika..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </p>
        </form>
    </div>

    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.UnitOfMeasure.Shortcut)</th>
                    <th>@Html.DisplayNameFor(model => model.IngredientType.Name)</th>
                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {*@
                        <th>Actions</th>
                    @*}*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td >
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.UnitOfMeasure.Shortcut)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.IngredientType.Name)
                        </td>
                       @* @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {*@
                            <td class="align-middle">
                                <a class="btn btn-default" type="button" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-default" type="button" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        @*}*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Ingredients")