@using ZeroWaste.Data.ViewModels.Recipes;
@using Microsoft.CodeAnalysis.Scripting
@using ZeroWaste.Data.Enums
@using ZeroWaste.Data.Static
@using ZeroWaste.Models
@model SearchRecipeResultsVm
@{
    ViewData["Title"] = "Wyszukiwanie po składnikach";
}
<div class="col-md-10 offset-1">
    <div class="row">
        <div class="col-md-5">
            <h3>@ViewBag.PageTitle</h3>
        </div>
        <div class="col-md-5 offset-1">
            <form asp-action="SearchRecipeSentenceResult">
                <div class="row">
                    <div class="col-md-10">
                        <input class="width-max" type="text" asp-for="SearchSentence" placeholder="Wpisz szukaną frazę"/>
                        @for (int j = 0; j < @Model.CategoryList.Count; j++)
                        {
                            @Html.HiddenFor(x => x.CategoryList[j].Id)
                            @Html.HiddenFor(x => x.CategoryList[j].Name)
                        }
                        @if (@Model.IngredientsLists != null)
                        {
                            @for (int j = 0; j < @Model.IngredientsLists.Count; j++)
                            {
                                @Html.HiddenFor(x => x.IngredientsLists[j].Name)
                                @Html.HiddenFor(x => x.IngredientsLists[j].Quantity)
                                @Html.HiddenFor(x => x.IngredientsLists[j].Unit)
                                @Html.HiddenFor(x => x.IngredientsLists[j].Index)
                            }
                        }
                        @for (int j = 0; j < @Model.RecipesList.Count; j++)
                        {
                            @Html.HiddenFor(x => x.RecipesList[j].Id)
                            @Html.HiddenFor(x => x.RecipesList[j].Title)
                            @Html.HiddenFor(x => x.RecipesList[j].EstimatedTime)
                            @Html.HiddenFor(x => x.RecipesList[j].DifficultyLevel)
                            @Html.HiddenFor(x => x.RecipesList[j].CategoryId)
                            @if (Model.RecipesList[j].Ingredients != null)
                            {
                                for (int k = 0; k < @Model.RecipesList[j].Ingredients.Count(); k++)
                                {
                                    @Html.HiddenFor(x => x.RecipesList[j].Ingredients[k])
                                }   
                            }
                        }
                        @if (!(Model.RecipesListBase.IsRecipeResultNullOrEmpty()))
                        {
                            @for (int j = 0; j < @Model.RecipesListBase.Count; j++)
                            {
                                @Html.HiddenFor(x => x.RecipesListBase[j].Id)
                                @Html.HiddenFor(x => x.RecipesListBase[j].Title)
                                @Html.HiddenFor(x => x.RecipesListBase[j].EstimatedTime)
                                @Html.HiddenFor(x => x.RecipesListBase[j].DifficultyLevel)
                                @Html.HiddenFor(x => x.RecipesListBase[j].CategoryId)
                                @if (Model.RecipesListBase[j].Ingredients != null)
                                {
                                    for (int k = 0; k < @Model.RecipesListBase[j].Ingredients.Count(); k++)
                                    {
                                        @Html.HiddenFor(x => x.RecipesListBase[j].Ingredients[k])
                                    }
                                }
                            }
                        }
                        <input type="hidden" asp-for="SortTypeId" value="@Model.SortTypeId"/>
                        <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId"/>
                        <input type="hidden" asp-for="PageTitle" value="@ViewBag.PageTitle"/>
                        <input type="hidden" asp-for="SearchType" value="@Model.SearchType"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-umber text-white width-max dropdown-toggle" type="button" id="dropdownSort" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    Sortowanie
                </button>
                <ul class="dropdown-menu recipes-search-options" aria-labelledby="dropdownSort">
                    @for(int i = 0;i<ViewBag.SortTypes.Count; i++)
                    {
                        <li>
                            <form asp-action="SearchRecipesSortedResult">
                                @for (int j = 0; j < @Model.CategoryList.Count; j++)
                                {
                                    @Html.HiddenFor(x => x.CategoryList[j].Id)
                                    @Html.HiddenFor(x => x.CategoryList[j].Name)
                                }
                                @if (@Model.IngredientsLists != null)
                                {
                                    @for (int j = 0; j < @Model.IngredientsLists.Count; j++)
                                    {
                                        @Html.HiddenFor(x => x.IngredientsLists[j].Name)
                                        @Html.HiddenFor(x => x.IngredientsLists[j].Quantity)
                                        @Html.HiddenFor(x => x.IngredientsLists[j].Unit)
                                        @Html.HiddenFor(x => x.IngredientsLists[j].Index)
                                    }   
                                }
                                @for (int j = 0; j < @Model.RecipesList.Count; j++)
                                {
                                    @Html.HiddenFor(x => x.RecipesList[j].Id)
                                    @Html.HiddenFor(x => x.RecipesList[j].Title)
                                    @Html.HiddenFor(x => x.RecipesList[j].EstimatedTime)
                                    @Html.HiddenFor(x => x.RecipesList[j].DifficultyLevel)
                                    @Html.HiddenFor(x => x.RecipesList[j].CategoryId)
                                    @if (Model.RecipesList[j].Ingredients != null)
                                    {
                                        for (int k = 0; k < @Model.RecipesList[j].Ingredients.Count(); k++)
                                        {
                                            @Html.HiddenFor(x => x.RecipesList[j].Ingredients[k])
                                        }
                                    }
                                }
                                <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId"/>
                                <input type="hidden" asp-for="PageTitle" value="@ViewBag.PageTitle"/>
                                <input type="hidden" asp-for="SortTypeId" value="@((int)ViewBag.SortTypes[i].SearchType)"/>
                                <input type="hidden" asp-for="SearchType" value="@Model.SearchType"/>
                                @if (Model.SortTypeId == (int)ViewBag.SortTypes[i].SearchType)
                                {
                                    <input type="submit" class="btn btn-khaki-web text-white" value="@ViewBag.SortTypes[i].DisplayText.ToString()"/>
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-umber text-white" value="@ViewBag.SortTypes[i].DisplayText.ToString()"/>
                                }
                            </form>
                        </li>
                    }
                </ul>
            </div>
            @if (Model.SearchType != SearchType.Hated && Model.SearchType != SearchType.Favourite && Model.SearchType != SearchType.EditMine)
            {
                <div class="col-md-3">
                    <button class="btn btn-umber text-white width-max dropdown-toggle" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Kategoria
                    </button>
                    <ul class="dropdown-menu recipes-search-options" aria-labelledby="dropdownMenuClickable">
                        @for(int i = 0;i<@Model.CategoryList.Count;i++)
                        {
                            <li>
                                <form asp-action="SearchRecipesFilteredResult">
                                    @for (int j=0; j<@Model.CategoryList.Count; j++)
                                    {
                                        @Html.HiddenFor(x => x.CategoryList[j].Id)
                                        @Html.HiddenFor(x => x.CategoryList[j].Name)
                                    }
                                    @if (@Model.IngredientsLists != null)
                                    {
                                        @for (int j = 0; j < @Model.IngredientsLists.Count; j++)
                                        {
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Name)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Quantity)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Unit)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Index)
                                        }   
                                    }                                
                                    @for (int j = 0; j < @Model.RecipesList.Count; j++)
                                    {
                                        @Html.HiddenFor(x => x.RecipesList[j].Id)
                                        @Html.HiddenFor(x => x.RecipesList[j].Title)
                                        @Html.HiddenFor(x => x.RecipesList[j].EstimatedTime)
                                        @Html.HiddenFor(x => x.RecipesList[j].DifficultyLevel)
                                        @Html.HiddenFor(x => x.RecipesList[j].CategoryId)
                                        @if (Model.RecipesList[j].Ingredients != null)
                                        {
                                            for (int k = 0; k < @Model.RecipesList[j].Ingredients.Count(); k++)
                                            {
                                                @Html.HiddenFor(x => x.RecipesList[j].Ingredients[k])
                                            }
                                        }
                                    }
                                    <input type="hidden" asp-for="SortTypeId" value="@Model.SortTypeId"/>
                                    <input type="hidden" asp-for="CategoryId" value="@Model.CategoryList[i].Id"/>
                                    <input type="hidden" asp-for="PageTitle" value="@ViewBag.PageTitle"/>
                                    <input type="hidden" asp-for="SearchType" value="@Model.SearchType"/>
                                    @if (Model.CategoryId == Model.CategoryList[i].Id)
                                    {
                                        <input type="submit" class="btn btn-khaki-web text-white" value="@Model.CategoryList[i].Name"/>
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-umber text-white" value="@Model.CategoryList[i].Name"/>
                                    }
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="col-md-3">
                @if (Model.SearchType == SearchType.Ingredients || Model.SearchType == SearchType.IngredientsFiltered)
                {
                    <form asp-action="ReturnToSearchByIngredients">
                                    @if (@Model.IngredientsLists != null)
                                    {
                                        @for (int j = 0; j < @Model.IngredientsLists.Count; j++)
                                        {
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Name)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Quantity)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Unit)
                                            @Html.HiddenFor(x => x.IngredientsLists[j].Index)
                                        }
                                    }
                                    <input type="submit" class="btn btn-umber text-platinum width-max" value="Edytuj składniki"/>
                                </form>
                }
            </div>
            @if (ViewBag.Statuses != null && User.IsInRole("Admin") && Model.SearchType == SearchType.Admin)
            {
                <div class="col-md-3">
                    <button class="btn btn-umber text-white width-max dropdown-toggle" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Status
                    </button>
                    <ul class="dropdown-menu recipes-search-options" aria-labelledby="dropdownMenuClickable">
                    @foreach (var item in ViewBag.Statuses)
                    {
                        <li>
                            @if (Model.StatusId == item.Id)
                            {
                                <a class="btn btn-khaki-web text text-white" asp-action="SearchForConfirm" asp-route-statusId="@item.Id">@item.Name</a>
                            }
                            else
                            {
                                <a class="btn btn-umber text text-white" asp-action="SearchForConfirm" asp-route-statusId="@item.Id">@item.Name</a>
                            }
                        </li>
                    }
                    </ul>
                </div>
            }
        </div>
    </div>
    <br/>
    <div class="row">
        @foreach(var item in @Model.RecipesList)
        {
            <div class="col-md-3 col-xs-6 mb-3">
                <div class="card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header bg-recipe-card">
                                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id">
                                    @if (item.Photo is null)
                                    {
                                        <img src="https://polki.pl/foto/4_3_LARGE/pilau-odswietna-potrawa-1661952.webp" width="100%" style="height: 250px" alt="Potrawa"/>
                                    }
                                    else
                                    {
                                        var base64 = Convert.ToBase64String(item.Photo);
                                        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                        <img src="@imgSrc" width="100%" style="height: 250px" alt="...">
                                    }
                                </a>
                            </div>
                            <div class="card-body bg-recipe-card">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text"><i class="bi bi-clock"></i> @item.EstimatedTime</p>
                                <hr/>
                                <p>Poziom trudności: </p>
                                    @for (int i = 0; i < item.DifficultyLevel; i++)
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    @for (int i = 0; i < 5-item.DifficultyLevel; i++) 
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                <hr/>
                                <div class="card-body-scroll">
                                    @if (item.Ingredients != null)
                                    {
                                        @foreach (var ingredient in @item.Ingredients)
                                        {
                                            
                                            if (Model.IngredientsLists != null && Model.IngredientsLists.Select(x => x.Name).Contains(ingredient))
                                            {
                                                <p class="card-text" style="color: #20c997">@ingredient</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">@ingredient</p>
                                            }
                                        }
                                    }
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (Model.SearchType == SearchType.Admin)
                                        {
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form asp-action="ConfirmRecipe" asp-controller="AdminSearchRecipes" asp-route-recipeId="@item.Id">
                                                        <button type="submit" class="btn btn-pale-pink width-max" data-toggle="tooltip" data-placement="bottom" title="Potwierdź przepis">
                                                            <i class="bi bi-check"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form asp-action="RejectRecipe" asp-controller="AdminSearchRecipes" asp-route-recipeId="@item.Id">
                                                        <button type="submit" class="btn btn-pale-pink width-max" data-toggle="tooltip" data-placement="bottom" title="Odrzuć przepis">
                                                            <i class="bi bi-dash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.SearchType == SearchType.Favourite)
                                        {
                                            <form asp-action="UnmarkFavouriteRecipes" asp-controller="FavouritesRecipes" asp-route-recipeId="@item.Id">
                                                <button type="submit" class="btn btn-pale-pink width-max" data-toggle="tooltip" data-placement="bottom" title="Odznacz ulubiony">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </form>
                                        }                                        
                                        else if (Model.SearchType == SearchType.Hated)
                                        {
                                            <form asp-action="UnmarkHatedRecipes" asp-controller="HatedRecipes" asp-route-recipeId="@item.Id">
                                                <button type="submit" class="btn btn-pale-pink width-max" data-toggle="tooltip" data-placement="bottom" title="Odznacz nie ulubiony">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <a class="btn btn-pale-pink width-max" id="addToShoppingList" data-toggle="tooltip" data-placement="bottom" title="Dodaj do listy zakupów"
                                               asp-controller="AutomatedShoppingList" asp-action="CreateFromRecipe" asp-route-recipeId="@item.Id">
                                                <i class="bi bi-cart-plus"></i>
                                            </a>   
                                        }
                                    </div>
                                    @if (Model.SearchType == SearchType.EditMine)
                                    {
                                        <div class="col-md-6">
                                            <a class="btn btn-pale-pink width-max" asp-controller="Recipes" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Edytuj">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6">
                                            <a class="btn btn-pale-pink width-max" asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Podgląd">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}