@using ZeroWaste.Data.ViewModels.RecipeIngredients
@using Newtonsoft.Json
@model NewRecipeIngredient

@{
    ViewData["Title"] = "Dodawanie składników przepisu";
    var ingredients = ViewBag.Ingredients as IEnumerable<ExistingIngredient>;
    var data = JsonConvert.SerializeObject(ingredients);
}

<div class="row">
    <div class="col-md-10 offset-1">
        <p>
            <h3>Dodawanie składników przepisu</h3>
        </p>

        @if(ViewData["Error"] != null) 
        {
            <div class="col-md-12 alert alert-danger">
                <span>@ViewData["Error"]</span>
            </div>
        }

        @if(ViewData["Success"] != null) 
        {
            <div class="col-md-12 alert alert-success">
                <span>@ViewData["Success"]</span>
            </div>
        }

        <form class="row" asp-action="Add" asp-controller="RecipeIngredients" enctype="multipart/form-data">
            @Html.HiddenFor(m=>m.RecipeId, new { Value = ViewData["recipeId"]})
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="bi bi-clipboard-check form-icon"></i>Istniejący składnik
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="bi bi-egg-fried form-icon"></i><label asp-for="ExistingIngredientId" class="control-label form-label"></label>
                                        @Html.DropDownListFor(x => x.ExistingIngredientId, new SelectList(ViewBag.Ingredients, "Id", "Name"), new { @class = "form-select js-example-basic-single" })
                                        <span asp-validation-for="ExistingIngredientId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="bi bi-rulers form-icon"></i><label asp-for="ExistingIngredientUnitOfMeasureId" class="control-label form-label"></label>
                                        <input asp-for="ExistingIngredientUnitOfMeasureId" class="form-control" id="unitOfMeasure" name="unitOfMeasure" type="text" disabled />
                                        <span asp-validation-for="ExistingIngredientUnitOfMeasureId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <i class="bi bi-calculator form-icon"></i><label asp-for="ExistingIngredientQuantity" class="control-label form-label"></label>
                                        <input asp-for="ExistingIngredientQuantity" class="form-control" type="number" min="1" max="1000" step="1" />
                                        <span asp-validation-for="ExistingIngredientQuantity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="bi bi-clipboard-plus form-icon"></i>Nowy składnik
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="bi bi-egg-fried form-icon"></i><label asp-for="NewIngredientName" class="control-label form-label"></label>
                                        <input asp-for="NewIngredientName" class="form-control" type="text"/>
                                        <span asp-validation-for="NewIngredientName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="bi bi-rulers form-icon"></i><label asp-for="NewIngredientUnitOfMeasureId" class="control-label form-label"></label>
                                        <select class="form-select" asp-for="NewIngredientUnitOfMeasureId" asp-items="@ViewBag.UnitOfMeasures">
                                            <option selected>Wybierz jednostkę</option>
                                            
                                        </select>
                                        <span asp-validation-for="NewIngredientUnitOfMeasureId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="bi bi-calculator form-icon"></i><label asp-for="NewIngredientQuantity" class="control-label form-label"></label>
                                        <input asp-for="NewIngredientQuantity" class="form-control" type="number" min="1" max="1000" step="1" />
                                        <span asp-validation-for="NewIngredientQuantity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <i class="bi bi-ui-radios form-icon"></i><label asp-for="NewIngredientTypeId" class="control-label form-label"></label>
                                        <select class="form-select" asp-for="NewIngredientTypeId" asp-items="@ViewBag.IngredientTypes">
                                            <option selected>Wybierz typ</option>
                                            
                                        </select>
                                        <span asp-validation-for="NewIngredientTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-2rem">
                <input type="submit" value="Dodaj" class="btn btn-default btn-pale-pink fr" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 mt-2rem">
        @if(ViewBag.RecipeIngredients.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Jednostka miary</th>
                        <th>Ilość</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.RecipeIngredients)
                    {
                        <tr>
                            <td>
                                @item.Ingredient.Name
                            </td>
                            <td>
                                @item.Ingredient.UnitOfMeasure.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td class="align-middle">
                                <form asp-controller="RecipeIngredients" asp-action="Delete" asp-route-id="@item.Id">
                                    <button class="btn btn-default" type="submit" >
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="row">
        <form class="col-md-4 offset-md-4 mt-2rem">
            <button class="btn btn-umber text-platinum width-max" asp-action="FakeSaveRedirect" asp-controller="RecipeIngredients">Zapisz</button>
        </form>

        </div>
</div>

@section Scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
    <script >
        $('#ExistingIngredientId').on('change', function () {
            var select = document.getElementById('ExistingIngredientId');
            var value = select.options[select.selectedIndex].text;

            var ingredientsJson = JSON.parse(he.decode('@data'));
            var filtered = ingredientsJson.filter(a => a.Name == value);
            if(!filtered[0])
            {
                return;
            }

            var unitOfMeasure = filtered[0]['UnitOfMeasure']['Name'];
            document.getElementById('unitOfMeasure').value =  unitOfMeasure;
        });
    </script>
}