@using ZeroWaste.Models;
@model ShoppingList
@{
    ViewData["Title"] = "Shopping list";
}
<div class="col-md-10 offset-1">
    <div class="row">
        <div class="col-md-8">
            <h3>Lista zakupów: @Model.Title (@Model.ShoppingListIngredients.Count)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>Notatka: @Model.Note</p>
        </div>
        <div class="col-md-2">
            <button id="btnEditTitleShow" style="background: transparent">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <div id="partialEditTitleSection" style="visibility:hidden">
                    @await Html.PartialAsync("_ShoppingListEditTitle", Model)
                </div>
            </div>
        </div>
    </div>
    <br/>
    @foreach (var item in @Model.ShoppingListIngredients)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card shopping-list-edit">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    @if (!(item.Selected))
                                    {
                                        <a class="btn btn-white width-max height-max" asp-controller="ShoppingListIngredients" asp-action="ChangeIngredientSelection" asp-route-shoppingListIngredientId="@item.Id"><i class="bi bi-square"></i></a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-white width-max height-max" asp-controller="ShoppingListIngredients" asp-action="ChangeIngredientSelection" asp-route-shoppingListIngredientId="@item.Id"><i class="bi bi-check-square"></i></a>
                                    }
                                </div>
                                <div class="col-md-11">
                                    <h5>@item.Ingredient.Name</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <div>
                                <h5>@item.Quantity</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-4 offset-4">
                                <a class="btn btn-oxford-blue text-platinum height-max width-max" asp-controller="ShoppingListIngredients" asp-action="DeleteIngredientFromShoppingList" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    }
    @await Html.PartialAsync("_CreateShoppingListItemButton")
</div>
@section Scripts
{
    <script>
    $("#btnEditTitleShow").click(function (){
       if($("#partialEditTitleSection").css("visibility") === "hidden"){
            $("#partialEditTitleSection ").css("visibility", "visible") 
       }
       else{
           $("#partialEditTitleSection").css("visibility", "hidden")
       }
    })
    </script>
}