@using ZeroWaste.Models;
@model ShoppingList
@{
    ViewData["Title"] = "Shopping list";
}
<div class="col-md-10 offset-1">
    <div class="row">
        <div class="col-md-5">
            <h3>Lista zakupów: @Model.Title (@Model.ShoppingListIngredients.Count)</h3>
            <br/>
        </div>
    </div>
    @foreach (var item in @Model.ShoppingListIngredients)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card shopping-list-edit">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-1">
                                    @if (!(item.Selected))
                                    {
                                        <a class="btn btn-select" asp-action="ChangeIngredientSelection" asp-route-ingredientId="@item.Id" asp-route-shoppingListId="@item.ShoppingListId"><i class="bi bi-square"></i></a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-select" asp-action="ChangeIngredientSelection" asp-route-ingredientId="@item.Id" asp-route-shoppingListId="@item.ShoppingListId"><i class="bi bi-check-square"></i></a>
                                    }
                                </div>
                                <div class="col-md-11">
                                    <h5>@item.Ingredient.Name</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                            <div>
                                <h5>@item.Quantity</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-4 offset-4">
                                <a class="btn btn-trash-shopping-list" asp-controller="ShoppingListIngredients" asp-action="DeleteIngredientFromShoppingList"
                                   asp-route-shoppingListId="@Model.Id" asp-route-ingredientId="@item.Id">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    }
    @await Html.PartialAsync("_CreateShoppingListItemButton")
</div>